<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.ssm.mapper.EmpMapper">
    <sql id="empColumns">emp_id empId,emp_name empName,emp_position empPosition,login_account loginAccount,login_password loginPassword</sql>
<!--    List<Emp> getAll();-->
    <select id="getAll" resultType="com.lm.ssm.entity.Emp">
        select <include refid="empColumns"></include>
        from t_emp;
    </select>

<!--    Emp getUserById(@Param("id") String id);-->
    <select id="getUserById" resultType="com.lm.ssm.entity.Emp">
        select <include refid="empColumns"></include>
        from t_emp where emp_id =#{id};
    </select>
<!--    int saveEmp(Emp emp);-->
    <insert id="saveEmp">
        INSERT into t_emp values (#{empId},#{empName},#{empPosition},#{loginAccount},#{loginPassword})
    </insert>
<!--    int deleteEmp(@Param("id") String id);-->
    <delete id="deleteEmp">
        delete from t_emp where emp_id =#{id}
    </delete>
<!--    int updateEmp(Emp emp);-->
    <update id="updateEmp">
        update t_emp set emp_name = #{empName},emp_position = #{empPosition},login_account = #{loginAccount},
                         login_password = #{loginPassword} where emp_id =#{empId}
    </update>
<!--      Emp getEmpInfo(@Param("username") String username, @Param("password") String password);-->
    <select id="getEmpInfo" resultType="com.lm.ssm.entity.Emp">
        select <include refid="empColumns"></include>
        from t_emp where login_account =#{username} and login_password =#{password};
    </select>
</mapper>
